OPENROUTER_API_KEY=
OPENROUTER_PRIMARY_MODEL=deepseek/deepseek-chat-v3.1
OPENROUTER_FALLBACK_MODEL=deepseek/deepseek-v3.1-terminus

SUPABASE_URL=https://wokkwjozwsrtzggambnp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

SUPABASE_JWT_SECRET=your_jwt_secret_here